<!DOCTYPE html>
<html>
<head>
    <title>Une nouvelle demande de rendez-vous a été reçue</title>
</head>
<body>
    <strong>Nom et prénom :</strong> {{ name }}<br>
    <strong>Numéro de téléphone :</strong> {{ phoneNumber }}<br>
    <strong>Prestations :</strong> {{ prestations }}<br>
    <strong>Race :</strong> {{ breed }}<br>
    <strong>Nombre de chien(s) :</strong> {{ dogNumber }}<br>
    <strong>Nombre de chiot(s) :</strong> {{ puppyNumber }}<br>
    <strong>Âge :</strong> {{ age }}<br>
    {# <strong>Mail du client :</strong> {{ clientEmail }}<br> #}
    <strong>Date :</strong> {{ date }}<br>
    <strong>Heure :</strong> {{ time }}<br>
    </body>
</html>
